html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.navbar-text {
  margin-left: 15px;
}

#places-button {
  position: absolute;
  top: 30%;
  right: 15%;
  z-index: 1;
}

#places-button:hover {
  text-decoration: none;
}

#places-display {
  position: absolute;
  z-index: 2;
  top: 35%;
  right: 20%;
  z-index: 2;
  background: #DDDDDD;
  max-height: 65%;
  overflow-x: scroll;
}

ng-map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}
