<div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyAGpTipSkb8ZoTKDcIZd0bxjOEX5EzbaT0">
  <!-- initiates google map via ng-map package -->
  <ng-map>
    <!-- creates marker on map for each place -->
    <marker ng-repeat="place in $ctrl.places"
      position="{{place.position}}"
      data="{{place.info}}"
      title="{{place.name}}"
      on-click="$ctrl.constructor.showCustomMarker()">
    </marker>
    <!-- experimental code to get more info to pop up above marker on click...doesnt work currently -->
    <custom-marker id="foo" position="160 Spear St, San Francisco, CA 94105" on-click="$ctrl.constructor.closeCustomMarker()">
      <div>
        <p>{{place.name}}</p>
        <p>{{place.info}}</p>
        <p>{{place.position}}</p>
      </div>
    </custom-marker>
  </ng-map>
<!-- favicon plus button -->
  <a href="#" class="fa fa-plus-circle fa-5x" id="places-button" ng-click="isCollapsed = !isCollapsed"></a>
    <!-- lists all places in db -->
    <div class="col-xs-2 col-xs-offset-8" id="places-display" ng-show="isCollapsed">
      <h3 class="page-header">Places:</h3>
      <ul class="nav nav-tabs nav-stacked" ng-repeat="thing in $ctrl.places">
            <!-- shows places info on mouse hover -->
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
      <!-- not wired yet -->
      <a href="#" id="add-place" class="btn btn-primary" ng-click="isCollapsed = !isCollapsed; isAdd = !isAdd">Add Place!</a>
    </div>

    <div class="col-xs-2 col-xs-offset-8" id="places-add" ng-show="isAdd">
      <form class="form" name="form" ng-submit="$ctrl.addThing(form)" novalidate>

        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" class="form-control" ng-model="$ctrl.newThing.name">

          <label>Info</label>
          <input type="text" name="info" class="form-control" ng-model="$ctrl.newThing.info">

          <label>Position</label>
          <input type="text" name="position" class="form-control" ng-model="$ctrl.newThing.position">
        </div>

        <div>
          <input type="submit" id="submit" value="Submit" class="btn btn-primary" ng-click="isAdd = !isAdd" />
          <input type="button" id="cancel" value="Cancel" class="btn btn-default" ng-click="isAdd = !isAdd; isCollapsed = !isCollapsed" />

        </div>

      </form>
    </div>
</div>
